<form action="/payment/results" style="display: flex">
  <div>
  <div>
    <label for="apr">APR</label>
    <input type="text" id="apr" name="apr" placeholder="E.g. 5.42">
  </div>

  <div>
    <label for="years_remaining">Number of years</label>
    <input type="number" id="years_remaining" name="years_remaining" placeholder="How many years to repay?">
  <div>

  <div>
    <label for="present_value">Principal</label>
    <input type="number" id="present_value" name="present_value" placeholder="How much principal?">
  </div>
  <button>Calculate monthly payment</button>
  </div>
</form>
