<form action="/square/results">
  <div>
    <label for="square_id">Enter a number</label>
  </div>
  <div>
    <input type="text" id="square_id" name="number" placeholder="What number do you want">
  </div>
    <button>Calculate square</button>
</form>
